@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;500;600&display=swap');
*,*::before,*::after
{
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	box-sizing: border-box;
}
body
{
	width:100%;
	height: 100vh;
	background: url(./images/jokerbg.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	font-family: 'Poppins', sans-serif;
}
header
{
	width:100%;
	height:100%;
	overflow: hidden;
}
header nav
{
	position:relative;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 20px 60px;
}
header nav .logo
{
	position: relative;
}
header nav .logo a
{
	position: relative;
 	font-size: 1.8em;
 	font-weight: 600;
 	color:red;
}
header nav .logo a span
{
	position: relative;
	color:white;
}
header nav .menus 
{
 	display: flex;
 	justify-content: center;
 	align-items: center;
}
.menus .closeBtn
{
	display: none;
}
nav .menus li
{
	position: relative;
	margin-left:32px;
}
nav .menus li.active:before
{
	width:50%;
	height:1px;
	transform: scaleX(1);
	background-color: red;
}
nav .menus li:before
{
	content:'';
	position:absolute;
	width:100%;
	height:1px;
	transform: scaleX(0);
	transform-origin: left;
	left:0;
	bottom:0;
	background-color: red;
	transition:.5s ease-in-out;
}
nav .menus li:hover:before
{
	transform: scaleX(1);
	transform-origin: right;
}
nav .menus li a
{
	font-size: 1em;
	text-decoration: none;
	color:#fff;
	letter-spacing: 1px;
	font-weight: 200;

}
nav .hamburger
{
	position:relative;
	width:32px;
	height:32px;
	outline: none;
	border:none;
	background: transparent;
	cursor: pointer;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	overflow: hidden;
	display: none;
}
.hamburger .hamp-top
{
	position: relative;
	display: inline-block;
	width:30px;
	height:3px;
	display: inline-block;
	background-color:white; 
	transition: .3s ease-in-out;
}
.hamburger .hamp-top::before
{
	content:'ME';
	position: absolute;
	top:-3px;
	left:38px;
	color:white;
	font-size: 16px;
	font-weight: 400;
	letter-spacing: 2px;
}
.hamburger:hover .hamp-top
{
	transform: translateX(-34px);
}
.hamburger .hamp-middle
{
	position: relative;
	display: inline-block;
	width:30px;
	height:3px;
	display: inline-block;
	background-color:white; 
	transition: .3s ease-in-out;
}
.hamburger:hover .hamp-middle
{
	opacity:0;
}
.hamburger .hamp-bottom
{
	position: relative;
	display: inline-block;
	width:30px;
	height:3px;
	display: inline-block;
	background-color:white; 
	transition: .3s ease-in-out;
}
.hamburger .hamp-bottom::before
{
	content:'NU';
	position: absolute;
	top:-10px;
	left:-30px;
	color:white;
	font-size: 16px;
	font-weight: 400;
	letter-spacing: 2px;
}
.hamburger:hover .hamp-bottom
{
	transform: translateX(1.71rem);
}
.hero
{
	position: relative;
	width:100%;
	height: calc(100vh - 14vh);
	padding: 0px 60px;
	overflow: hidden;
	display:flex;
	flex-direction: column;
	justify-content: space-evenly;
}
.hero .bg2 img
{
	position: absolute;
	top:0;
	right:0;
	bottom: 0;
	height:100%;
	z-index: -2;
	opacity: 0.1;
	animation:glow 3s linear infinite;
}
@keyframes glow
{
	0%
	{
		opacity: 0.1;
	}
	20%
	{
		opacity: 0.3;
	}
	40%
	{
		opacity: 0.5;
	}
	60%
	{
		opacity: 0.8;
	}
	80%
	{
		opacity: 0.5;
	}
	90%
	{
		opacity: 0.3;
	}
	100%
	{
		opacity: 0.1;
	}


}
.hero .content
{
	position: relative;
	max-width: 500px;
	transform-style: preserve-3d;
	perspective: 900px;
}

.content .text1
{
	font-size: 1em;
	color:white;
	font-weight:300;
	opacity: 0.6;
	transform: translateY(5px);
}

.content .text2
{
	text-transform: uppercase;
	font-size:1.8em;
	font-weight: 300;
	color:white;
	margin-bottom: 16px;
	letter-spacing:2px;
}
.content p
{
	position: relative;
	font-size: 0.65em;
	font-weight: 200;
	letter-spacing: 0.02em;
	color:white;
	word-spacing:0.2em;
	padding-left: 5px;
	text-align: left;
	animation:up 1s cubic-bezier(0.95,-0.13, 0.25, 2.32);
}
@keyframes up
{
	0%
	{
		opacity: 0;
		transform: translateZ(-100px);
	}
	100%
	{
		
		transform:translateZ(0px);
		opacity:1;
	}
}
.content p span
{
	text-transform: uppercase;
	font-size:1.2em;
	font-weight: 500;
	letter-spacing: 1px;
	animation: tubelight 5s ease-in-out infinite;
}
@keyframes tubelight
{
	0%,30%,50%,70%,90%
	{
		color:red;
	}
	20%,40%,60%,80%,100%
	{
		color:white;
	}
}
/* .content p span:nth-of-type(odd)
{
	font-size: 1.2em;
	color: red;
	font-weight: 600;
}
.content p span:nth-of-type(even)
{
	font-size: 1.2em;
	font-weight: 600;

} */
.content .buttons
{
	margin-top: 22px;
}
.buttons .watchnow
{
	display: inline-block;
	border:none;
	outline: none;
	background: red;
	cursor: pointer;
	width:160px;
	height:40px;
	border-radius:20px;
}
.watchnow .fa-play-circle
{
	font-size: 15px;
	color: #fff;
}
.watchnow span:nth-child(2)
{
	text-transform: uppercase;
	color: white;
	font-size: 12px;
	padding: 2px 4px;
	font-weight: 200;
	letter-spacing: 1px;
}
.buttons .trailer
{
	display: inline-block;
	border:1px solid red;
	outline: none;
	background:transparent;
	cursor: pointer;
	width:160px;
	height:40px;
	border-radius:20px;
	margin-left: 30px;
}
.buttons .trailer span
{
	text-transform: uppercase;
	color: white;
	font-size: 12px;
	padding: 2px;
	font-weight: 200;
	letter-spacing: 1px;
}
.hero .video
{
	position: relative;
	width:350px;
	height:180px;
	border: none;
	outline: none;

}
.hero .social-icons
{
	position:absolute;
	height:100%;
	width:60px;
	top:0;
	right:50px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	z-index: 2;
}
.social-icons span
{
	display: inline-block;
	margin: 10px 0px ;
	width:44px;
	height:44px;
	border:2px solid white;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	transition: .5s ease-in-out;
}
.social-icons span i
{
	display:inline-block;
	color:white;
	font-size: 20px;
	transition: .5s ease-in-out;
}
.social-icons span:hover
{
	background-color: white;

}
.social-icons span:hover i.fa-instagram
{
	background: linear-gradient(45deg, #405de6, 
    #5851db, #833ab4, #c13584, #e1306c, #fd1d1d);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.social-icons span:hover i.fa-facebook
{
    color:rgb(29,161,242);
}
.social-icons span:hover i.fa-github
{
    color:#F1502F;
}
@media (max-width:768px)
{
	header nav .menus 
	{
		position:fixed;
		top:0;
		left:0;
		height:100vh;
		width:100%;
		background:black;
		clip-path: circle(0.0% at 100% 0);
		display: flex;
		flex-direction: column;
		align-items: center;
		z-index: 10;
		transition:all .5s ease-in-out;
	}
	header nav .menus.active
	{
		clip-path: circle(141.4% at 100% 0);
	}
	.menus .closeBtn
	{
		display: block;
		position: absolute;
		top:30px;
		right:60px;
		height:32px;
		width:32px;
		text-align: center;
	}
	nav .menus .closeBtn span
	{
		font-size:32px;
		color:white;
	}
	nav .menus li
	{
		margin-top: 20px;
		margin-left: 0px;
	}
	nav .menus li a
	{
		font-size: 1.4em;
	}
	header nav .hamburger
	{
		display: flex;
	}
	.hero .content {
		max-width: 400px;
	}
	.content .text1 {
		font-size: 0.8em;
	}
	.content .text2 {
		font-size: 1.5em;
	}
	.buttons .watchnow {
		width: 144px;
		height: 35px;
	}
	.buttons .trailer {
		width: 144px;
		height: 35px;
	}
	
}

@media (max-width:480px)
{
	body {
		background: url(./images/jokerbg.jpg);
		background-size: cover;
		/* background-position: center; */
		background-repeat: no-repeat;
	}
	header nav {
		padding: 20px 20px;
	}
	nav .menus .closeBtn
	{
		right:20px;
	}
	nav .menus li a
	{
		font-size: 1.2em;
	}
	.hero {
		padding: 0px 20px;
		align-items: center;
	}
	.hero .content {
		max-width: 100%;
	}
	.hero .bg2 img
	{
		display: none;
	}
	.content .buttons {
		display: flex;
		justify-content: center;
		align-items: center;
	}
	
	.content p
	{
		font-size: 0.55em;
	}
	.content .text2 
	{
		font-size: 1.3em;
	}
	.hero .social-icons
	{
		position:relative;
		top:0;
		right: 0;
		width: 100%;
		height:60px;
		display: flex;
		flex-direction: row;
		justify-content: center;
	}
	.hero .social-icons span
	{
		margin: 0px 10px;
	}
}











